.pricing-section{
    display: flex;
    flex-direction: column;
}


.pricing-section .pricing-head{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0 0 10px 0;
}


.pricing-section .pricing-image{
    height: 780px;
}